<section class="hero-section">
  <div class="container">
    <h1 class="hero-title">
      <span class="hero-title-brand">Best</span> Recipes
    </h1>
    <p class="mt-2 text-center">
      Welcome to Best Recipes - your go-to platform for discovering, sharing,
      and enjoying delicious recipes from around the world. Find and share
      everyday cooking inspiration on Best Recipes. Discover recipes, cooks and
      how-tos based on the food you love and the friends you follow.
    </p>
  </div>
</section>
<section class="mt-5 container">
  <div class="d-flex gap-3">
    <ng-container *ngIf="recipes$ | async as recipes; else NotFound">
      <div
        class="recipe-container featured-recipe-container"
        *ngIf="recipes.length > 0"
        [style.backgroundImage]="'url(' + recipes[0].featuredImageUrl + ')'"
        [routerLink]="['/recipe/', recipes[0].slug]"
      >
        <h4 class="recipe-title">
          {{ recipes[0].title }}
        </h4>
        <p class="recipe-description">
          {{ recipes[0].shortDescription }}
        </p>
      </div>
      <div>
        <div
          *ngFor="let recipe of recipes.slice(1); let i = index"
          class="recipe-container recipe-card-container"
          [style.backgroundImage]="
            'url(' + recipes[i + 1].featuredImageUrl + ')'
          "
          [routerLink]="['/recipe/', recipes[i + 1].slug]"
        >
          <h4 class="recipe-title">{{ recipe.title }}</h4>
          <p class="recipe-description">
            {{ recipe.shortDescription }}
          </p>
        </div>
      </div>
    </ng-container>
    <ng-template #NotFound>
      <div class="d-flex justify-content-center align-items-center">
        <h1 class="display-6 mt-3">Recipes not found!</h1>
      </div>
    </ng-template>
  </div>
</section>
<section class="categories-section">
  <div class="mt-5 container">
    <h2>Explore by Category</h2>
  </div>
</section>
<section class="mt-5 about-us-section text-primary">
  <div class="container">
    <h2><i class="bi bi-people-fill"></i> Join Our Community</h2>
    <p>
      Discover a world of culinary delights! Save your favorite recipes, rate
      and review them, and share your creations with food enthusiasts just like
      you.
    </p>
    <p>
      Whether you're a seasoned chef or just starting out, our platform offers
      tools and inspiration to elevate your cooking experience. Connect with
      others, learn new tips, and expand your recipe collection.
    </p>
    <a [routerLink]="['/login']" class="btn btn-primary me-3">Sign Up Today</a>
    <a [routerLink]="['/explore']" class="btn btn-primary">Explore Recipes</a>
  </div>
</section>
