.recipe-container {
  position: relative;
  padding: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}

.recipe-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  );
  border-radius: inherit;
  opacity: 0.4;
  transition: opacity 0.4s ease;
}

.recipe-container:hover::before {
  opacity: 1;
}

.recipe-title {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.recipe-description {
  z-index: 2;
  position: absolute;
  display: none;
}

.recipe-container:hover .recipe-description {
  display: block;
}

.recipe-container:hover .recipe-title {
  position: relative;
  top: 0;
  left: 0;
  transform: translate(0, 0);
}

.featured-recipe-container {
  width: 70rem;
  min-height: 65vh;
}

.recipe-card-container {
  min-height: 16vh;
  width: 30rem;
}

.recipe-card-container:not(:last-child) {
  margin-bottom: 1vh;
}

.hero-section {
  position: relative;
  padding: 272px 0px;
  background-image: linear-gradient(
      103deg,
      rgba(18, 18, 17, 0.78) 2.03%,
      rgba(18, 18, 17, 0.6) 58.46%,
      rgba(18, 18, 17, 0) 90.36%
    ),
    url("/assets/images/hero-section-background.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-title {
  margin-bottom: 0px;
  color: #ffffff;
  text-align: center;
  font-size: 128px;
  line-height: 1.5;
  font-weight: 900;
}

.hero-title-brand {
  color: #819b57;
}

.category-container {
  position: relative;
  padding: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}

.category-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  );
  border-radius: inherit;
  opacity: 0.4;
  transition: opacity 0.4s ease;
}

.category-container:hover::before {
  opacity: 1;
}

.category-title {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.featured-category-container {
  width: 70rem;
  min-height: 65vh;
}

.category-card-container {
  min-height: 16vh;
  width: 30rem;
}

.category-card-container:not(:last-child) {
  margin-bottom: 1vh;
}
