<footer class="footer mt-5">
  <div class="container">
    <div class="footer-container">
      <nav class="footer-nav">
        <div class="footer-logo-container">
          <a class="footer-logo" href="#">
            <i class="bi bi-calendar2-heart d-inline-block"></i>
            Best Recipes
          </a>
        </div>
        <ul class="footer-menu">
          <li><a class="link" href="#">Home</a></li>
          <li><a class="link" href="/about-us">About Us</a></li>
          <li>
            <a class="link" href="/add-recipe-guide"> How to add recipe </a>
          </li>
          <li><a class="link" href="#">Recipe for you</a></li>
        </ul>
      </nav>
      <address class="footer-address">
        <div class="footer-address-contacts">
          <ul class="footer-address-list">
            <li>
              <a class="footer-address-link" href="tel:+380960000007">
                + 38 (096) 000 00 07
              </a>
            </li>
            <li>
              <a
                class="footer-address-link"
                href="mailto:bestrecipes@gmail.com"
              >
                bestrecipes&#64;gmail.com
              </a>
            </li>
          </ul>
          <div class="footer-address-icon-container">
            <a href="https://www.facebook.com" target="_blank">
              <i class="bi bi-facebook footer-address-icon"></i>
            </a>
            <a href="https://www.instagram.com" target="_blank">
              <i class="bi bi-instagram footer-address-icon"></i>
            </a>
          </div>
        </div>
        <div class="footer-address-info">
          <a class="footer-address-link" href="#">Privacy policy </a>
          <p class="footer-address-copyright">&copy; 2023 Data secured</p>
        </div>
      </address>
    </div>
  </div>
</footer>
