@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Noto_Sans";
  src: url("assets/fonts/Noto_Sans/static/NotoSans-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Noto_Sans";
  src: url("assets/fonts/Noto_Sans/static/NotoSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Noto_Sans";
  src: url("assets/fonts/Noto_Sans/static/NotoSans-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
}

:root {
  --color-background: #faf4ea;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
}

h1,
h2 {
  font-family: "Noto_Sans";
  font-weight: 800;
  color: #ac3b61;
}

h3,
h4,
h5,
h6 {
  font-family: "Noto_Sans";
  font-weight: 700;
  color: #ac3b61;
}

.btn-primary {
  background-color: #ac3b61;
  border-color: #ad3a63;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #862e4c;
}

.btn-primary:disabled {
  background-color: #ac3b61;
  border-color: #ad3a63;
  color: #ffffff;
}

.text-primary {
  color: #31261a !important;
}

.text-secondary {
  color: #465929 !important;
}

.table-custom {
  border: 1px solid #8e8d8a;
  border-collapse: collapse;
  width: 100%;
}

.table-custom thead tr {
  background-color: #ac3b61;
  color: #ffffff;
}

.table-custom th,
.table-custom td {
  padding: 12px 15px;
}

.table-custom tbody tr {
  color: #123d6a;
}

.table-custom tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.images-container-modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.5);
}

.bi-star-fill {
  color: #ffc107 !important;
  transition: none !important;
}
