<form *ngIf="isEditing" #form="ngForm" (ngSubmit)="onFormSubmit()">
  <h3>{{ recipeTitle }}</h3>
  <p class="m-0">My Rating</p>
  <app-rating-input [(rating)]="rating"></app-rating-input>
  <p class="m-0">My Review</p>
  <textarea
    class="form-control mt-1 review-textarea"
    name="reviewContent"
    id="reviewContent"
    placeholder="What did you think about this recipe?"
    [(ngModel)]="content"
    [disabled]="rating === 0"
  ></textarea>
  <div class="d-flex gap-1 justify-content-end">
    <button type="button" class="btn btn-primary mt-1" (click)="onCancel()">
      Cancel
    </button>
    <button
      type="submit"
      class="btn btn-primary mt-1"
      [disabled]="rating === 0"
    >
      Submit
    </button>
  </div>
</form>

<ng-container *ngIf="!isEditing">
  <h3>{{ recipeTitle }}</h3>
  <p>My Rating: <app-rating-display [rating]="rating"></app-rating-display></p>
  <a (click)="isEditing = true"><i class="bi bi-pencil-fill"></i> Edit</a>
</ng-container>
