<ng-container *ngIf="recipe; else NotFound">
  <div
    class="recipe-img"
    [style.backgroundImage]="'url(' + recipe.featuredImageUrl + ')'"
  ></div>
  <div class="container text-primary col-6">
    <app-rating-display [rating]="recipe.rating"></app-rating-display>
    <h1 class="recipe-title">{{ recipe.title }}</h1>
    <p>{{ recipe.shortDescription }}</p>
    <h2>Ingredients</h2>
    <ul class="ingredient-list">
      <ng-container *ngFor="let ingredient of recipe.ingredients">
        <li class="ingredient-item">
          {{ ingredient.quantity }} {{ ingredient.measurementUnit }}
          {{ ingredient.ingredientName }}
        </li>
      </ng-container>
    </ul>
    <h2>Instruction</h2>
    <markdown class="recipe-instruction" [data]="instruction.content">
    </markdown>
    <div class="add-feedback-container">
      <div class="add-feedback-container-inner">
        <app-add-review
          [recipeId]="recipe.id"
          [recipeTitle]="recipe.title"
        ></app-add-review>
      </div>
    </div>
    <div class="reviews-container">
      <app-review-list [recipeId]="recipe.id"></app-review-list>
    </div>
  </div>
</ng-container>
<ng-template #NotFound>
  <div class="d-flex justify-content-center align-items-center">
    <h1 class="display-6 mt-3">Recipes not found!</h1>
  </div>
</ng-template>
