<ng-container *ngIf="recipe; else NotFound">
  <div
    class="recipe-img"
    [style.backgroundImage]="'url(' + recipe.featuredImageUrl + ')'"
  ></div>

  <div class="container text-primary col-6 mt-3">
    <app-rating-display
      class="recipe-rating"
      [rating]="recipe.rating"
    ></app-rating-display>

    <header class="recipe-header">
      <div>
        <h1 class="recipe-title">{{ recipe.title }}</h1>
        <p class="recipe-author">by {{ recipe.authorUserName }}</p>
      </div>

      <app-favorite-toggle-button
        [recipeId]="recipe.id"
      ></app-favorite-toggle-button>
    </header>
    <p class="recipe-description">{{ recipe.shortDescription }}</p>

    <section>
      <h2>Ingredients</h2>
      <ul class="ingredient-list">
        <ng-container *ngFor="let ingredient of recipe.ingredients">
          <li class="ingredient-item">
            <span>{{ ingredient.quantity }}</span>
            <span> {{ ingredient.measurementUnit }}</span>
            <span class="ingredient-name">
              {{ ingredient.ingredientName }}</span
            >
          </li>
        </ng-container>
      </ul>
    </section>

    <section>
      <h2>Instructions</h2>
      <markdown class="recipe-instruction" [data]="instruction.content">
      </markdown>
    </section>

    <section class="add-feedback-section">
      <div class="add-feedback-section-inner">
        <app-add-review
          [recipeId]="recipe.id"
          [recipeTitle]="recipe.title"
        ></app-add-review>
      </div>
    </section>

    <section>
      <app-review-list [recipeId]="recipe.id"></app-review-list>
    </section>
  </div>
</ng-container>
<ng-template #NotFound>
  <div class="d-flex justify-content-center align-items-center">
    <h1 class="mt-3">Recipe not found!</h1>
  </div>
</ng-template>
