<div class="container">
  <div class="d-flex justify-content-between mt-3 align-items-end">
    <h1 class="text-header">Categories</h1>
    <a class="btn btn-primary" [routerLink]="['/admin/categories/add']">
      Add Category
    </a>
  </div>

  <ng-container *ngIf="categories$ | async as categories">
    <table class="table-custom mt-3">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Featured Image Url</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories">
          <td>{{ category.id }}</td>
          <td>{{ category.name }}</td>
          <td>{{ category.featuredImageUrl }}</td>
          <td>
            <button
              type="button"
              class="btn btn-primary"
              [routerLink]="['/admin/categories/', category.id]"
            >
              Edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</div>
