<div class="container">
  <div class="d-flex justify-content-between mt-3 align-items-end">
    <h1>Categories</h1>
    <a class="btn btn-primary" [routerLink]="['/admin/categories/add']">
      Add Category
    </a>
  </div>

  <ng-container *ngIf="categories$ | async as categories; else NotFound">
    <table class="table-custom mt-3">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Slug</th>
          <th>Featured Image Url</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories">
          <td>{{ category.id }}</td>
          <td>{{ category.name }}</td>
          <td>{{ category.slug }}</td>
          <td>{{ category.featuredImageUrl }}</td>
          <td class="d-flex gap-3">
            <button
              type="button"
              class="btn btn-primary"
              [routerLink]="['/admin/categories/', category.id]"
            >
              Edit
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="onDelete(category)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
  <ng-template #NotFound>
    <div class="d-flex justify-content-center align-items-center">
      <h1 class="display-6 mt-3">Categories not found!</h1>
    </div>
  </ng-template>
</div>
