<div class="container">
  <div class="d-flex justify-content-between mt-3 align-items-end">
    <h1 class="text-header">Ingredients</h1>
    <a class="btn btn-primary" [routerLink]="['/admin/ingredients/add']">
      Add Ingredient
    </a>
  </div>

  <ng-container *ngIf="ingredients$ | async as ingredients">
    <table class="table-custom mt-3">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ingredient of ingredients">
          <td>{{ ingredient.id }}</td>
          <td>{{ ingredient.name }}</td>
          <td>
            <button
              type="button"
              class="btn btn-primary"
              [routerLink]="['/admin/ingredients/', ingredient.id]"
            >
              Edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</div>
