<div class="container">
  <h1 class="mt-3">Add Recipe</h1>
  <form #form="ngForm" (ngSubmit)="onFormSubmit()">
    <div class="mt-3">
      <label class="form-label text-primary" for="recipeTitle">Title</label>
      <input
        class="form-control"
        type="text"
        id="recipeTitle"
        name="recipeTitle"
        [(ngModel)]="recipeModel.title"
      />
    </div>
    <div class="mt-3">
      <label class="form-label text-primary" for="recipeShortDescription">
        Short Description
      </label>
      <textarea
        class="form-control"
        id="recipeShortDescription"
        name="recipeShortDescription"
        [(ngModel)]="recipeModel.shortDescription"
      ></textarea>
    </div>
    <div class="mt-3">
      <label class="form-label text-primary" for="instructionContent">
        Instruction
      </label>
      <div class="d-flex flex-row">
        <div class="col-6 p-2">
          <textarea
            class="form-control"
            id="instructionContent"
            name="instructionContent"
            [(ngModel)]="instructionModel.content"
            style="height: 350px; max-height: 350px"
          ></textarea>
        </div>

        <div
          class="col-6 p-2 text-primary"
          style="max-height: 350px; overflow-y: scroll"
        >
          <markdown [data]="instructionModel.content"></markdown>
        </div>
      </div>
    </div>
    <div class="mt-3">
      <label class="form-label text-primary" for="recipeSlug">Slug</label>
      <input
        class="form-control"
        type="text"
        id="recipeSlug"
        name="recipeSlug"
        [(ngModel)]="recipeModel.slug"
      />
    </div>
    <div class="mt-3">
      <label
        class="form-label text-primary d-flex gap-3 align-items-center"
        for="recipeFeaturedImageUrl"
      >
        Featured Image Url
        <button
          type="button"
          class="btn btn-primary"
          (click)="openImageSelector()"
        >
          Select image
        </button>
      </label>
      <ng-container *ngIf="recipeModel.featuredImageUrl !== ''">
        <div>
          <img [src]="recipeModel.featuredImageUrl" height="100" class="my-2" />
        </div>
      </ng-container>
      <input
        class="form-control"
        type="text"
        id="reciperecipeFeaturedImageUrl"
        name="reciperecipeFeaturedImageUrl"
        [(ngModel)]="recipeModel.featuredImageUrl"
      />
    </div>
    <div class="mt-3">
      <label class="form-label text-primary" for="recipeCategories"
        >Categories</label
      >
      <ng-container *ngIf="categories$ | async as categories">
        <select
          class="form-control"
          id="recipeCategories"
          name="recipeCategories"
          multiple
          [(ngModel)]="recipeModel.categoryIds"
        >
          <option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}
          </option>
        </select>
      </ng-container>
    </div>
    <div class="mt-3 d-flex flex-column">
      <label class="form-label text-primary">Ingredients</label>
      <div
        *ngFor="let ingredient of ingredients; let i = index"
        class="mb-3 d-flex gap-1 align-items-center"
      >
        <input
          class="form-control"
          type="text"
          placeholder="Ingredient Name"
          [(ngModel)]="ingredients[i].ingredientName"
          (ngModelChange)="updateIngredientName(i, $event)"
          name="ingredientName_{{ i }}"
        />
        <input
          class="form-control"
          type="number"
          placeholder="Quantity"
          [(ngModel)]="ingredients[i].quantity"
          (ngModelChange)="updateIngredientQuantity(i, $event)"
          name="ingredientQuantity_{{ i }}"
        />
        <input
          class="form-control"
          type="text"
          placeholder="Measurement Unit"
          [(ngModel)]="ingredients[i].measurementUnit"
          (ngModelChange)="updateIngredientMeasurementUnit(i, $event)"
          name="ingredientMeasurementUnit_{{ i }}"
        />
        <button
          type="button"
          class="btn btn-danger"
          (click)="removeIngredient(i)"
        >
          <i class="bi bi-trash"></i>
        </button>
      </div>
      <div>
        <a class="add-ingredient-link" (click)="addIngredient()">
          + Add ingredient
        </a>
      </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </form>

  <div
    class="images-container-modal"
    [ngClass]="{
      'd-block': isImageSelectorVisible,
      'd-none': !isImageSelectorVisible
    }"
  >
    <button
      type="button"
      class="btn btn-light position-fixed"
      style="top: 10px; right: 10px"
      (click)="closeImageSelector()"
    >
      X
    </button>
    <app-image-selector></app-image-selector>
  </div>
</div>
