<div class="container text-primary col-8 mt-5">
  <h1 class="mb-4">
    <i class="bi bi-pencil-square"></i> Tips for Submitting Your Recipe to
    BestRecipes
  </h1>
  <div class="section">
    <p>Here's how to make your favorite recipe stand out from the crowd.</p>
    <p>
      Take your go-to recipe from favorite to famous! Chances are you're reading
      this because you enjoy cooking and sharing food with others. Posting one
      of your own recipes on BestRecipes is a great way to share your creations
      with a much larger crowd! Whether you improvise your way around the
      kitchen, tend to tweak ingredients to get the tastiest result, or follow
      steps methodically, a recipe is the common starting point. At BestRecipes,
      we get thousands of recipe submissions every year. Here are some top tips
      to help your recipe stand out from the crowd and get published on the site
      for everyone to find, try, and review!
    </p>
  </div>
  <h2 class="mt-4 mb-3">
    <i class="bi bi-bookmark-fill"></i> Tips for Submitting a Recipe to
    BestRecipes
  </h2>
  <div class="section">
    <h3><i class="bi bi-type"></i> Title</h3>
    <p>
      Choose a clear title that tells the cook what to expect and includes
      search-friendly words. "Andouille and Chicken Creole Pasta" tells us more
      about the dish than "Mardi Gras Pasta." Since other cooks often search by
      ingredient, "Andouille and Chicken Creole Pasta" is more likely to pop up.
    </p>

    <h3><i class="bi bi-card-text"></i> Description</h3>
    <p>
      Include a short but detailed sentence describing the dish that will get
      the cook excited and tell them what to expect. Check out AppleChef's
      description for Pan-Seared Tilapia: "This pan-seared tilapia dish is a
      delicious and easy way to prepare seafood! Great for a quick weeknight
      meal accompanied with fresh veggies. Try this healthy dish full of flavor
      and nutrition!"
    </p>

    <h3><i class="bi bi-list-ul"></i> Ingredients</h3>
    <h4><i class="bi bi-check-circle"></i> Include measurements</h4>
    <p>
      For other cooks to get the same result, it's helpful for ingredients to be
      as exact and descriptive as possible.
    </p>

    <h4><i class="bi bi-list-check"></i> List ingredients in order</h4>
    <p>
      To make a recipe easy to follow, list the ingredients in the order they
      are used in the recipe.
    </p>

    <h4><i class="bi bi-clipboard-data"></i> Include ingredient prep</h4>
    <p>
      If a recipe requires chopped onion, shredded Cheddar cheese, and diced
      avocado, write that out in the ingredient list rather than telling the
      cook to chop, shred, and dice in the steps below.
    </p>

    <h3><i class="bi bi-tools"></i> Directions</h3>
    <h4><i class="bi bi-pencil-square"></i> Be descriptive</h4>
    <p>
      Write out each step and be as thorough and descriptive as possible, using
      every ingredient that is listed.
    </p>

    <h4><i class="bi bi-thermometer-half"></i> Include temperatures</h4>
    <p>
      For stovetop recipes, state how hot the burners need to be, e.g., medium
      heat, medium-high heat.
    </p>

    <h4><i class="bi bi-square-fill"></i> Give pan size and type</h4>
    <p>For baking recipes, include exact dimensions for any pans used.</p>

    <h4><i class="bi bi-clock"></i> Include doneness tips</h4>
    <p>
      Let the cook know how to tell if the dish is done by including tips and/or
      temperature guidelines.
    </p>

    <h3><i class="bi bi-camera-fill"></i> Photo</h3>
    <p>
      Snap a pic of your final dish to show everyone what it should look like
      and how appetizing it is!
    </p>
  </div>
  <h2 class="mt-4 mb-3"><i class="bi bi-share-fill"></i> Share Your Recipe</h2>
  <div class="section">
    <p>
      Now you're ready to share your recipe with the world! Log into your
      BestRecipes account and visit the Add a Recipe page to get started.
    </p>
  </div>
</div>
