.navbar {
  background-color: #edc7b7 !important;
  font-family: "Noto_Sans";
}

.navbar-brand {
  color: #ffffff;
  transition: color 0.3s ease;
}

.navbar-brand:hover {
  color: #a18268;
}
.nav-link {
  color: #ffffff !important;
}

.navbar-text {
  color: #ffffff !important;
}

.dropdown-menu {
  background-color: #edc7b7 !important;
}

.dropdown-item:hover {
  background-color: #dcb8a9 !important;
}

.recipe-for-you-link:hover {
  cursor: pointer;
}

.search-item-icon {
  color: #ffffff;
  transition: color 0.3s ease;
}

.search-item-icon:hover {
  color: #a18268;
}
