<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['']">
      <i
        class="bi bi-calendar2-heart d-inline-block"
        width="30"
        height="24"
      ></i>
      Best Recipes
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle navbar-text"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Categories
          </a>
          <ul class="dropdown-menu">
            <ng-container *ngIf="categories$ | async as categories">
              <ng-container *ngFor="let category of categories">
                <li>
                  <a
                    class="dropdown-item navbar-text"
                    [routerLink]="['/category', category.id]"
                  >
                    {{ category.name }}
                  </a>
                </li>
              </ng-container>
            </ng-container>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle navbar-text"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Ingredients
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item navbar-text"> Item </a>
            </li>
            <li>
              <a class="dropdown-item navbar-text"> Item </a>
            </li>
            <li>
              <a class="dropdown-item navbar-text"> Item </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle navbar-text"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            About Us
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item navbar-text" [routerLink]="['/about-us']">
                The Best-Recipes
              </a>
            </li>
            <li>
              <a
                class="dropdown-item navbar-text"
                [routerLink]="['/add-recipe-guide']"
              >
                How to add a recipe
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link">Random Recipe</a>
        </li>
        <li
          class="nav-item dropdown"
          *ngIf="user !== undefined && user?.roles?.includes('Admin')"
        >
          <a
            class="nav-link dropdown-toggle navbar-text"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Admin
          </a>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item navbar-text"
                [routerLink]="['admin/categories']"
              >
                Category
              </a>
            </li>
            <li>
              <a
                class="dropdown-item navbar-text"
                [routerLink]="['admin/ingredients']"
              >
                Ingredient
              </a>
            </li>
            <li>
              <a
                class="dropdown-item navbar-text"
                [routerLink]="['admin/recipes']"
              >
                Recipe
              </a>
            </li>
            <li>
              <a
                class="dropdown-item navbar-text"
                [routerLink]="['admin/reviews']"
              >
                Reviews
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="nav-item d-flex gap-2">
        <ng-container *ngIf="user === undefined; else showLogout">
          <button class="btn btn-primary" [routerLink]="['login']">
            Login
          </button>
          <button class="btn btn-primary" [routerLink]="['registration']">
            Register
          </button>
        </ng-container>
        <ng-template #showLogout>
          <div class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle navbar-text"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{ user?.email }}
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item navbar-text"> My Profile </a>
              </li>
              <li>
                <a
                  class="dropdown-item navbar-text"
                  [routerLink]="['favorites']"
                >
                  Favorite Recipes
                </a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a
                  class="dropdown-item navbar-text"
                  [routerLink]="['recipes/add']"
                >
                  Add Recipe
                </a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item navbar-text" (click)="onLogout()">
                  Logout
                </a>
              </li>
            </ul>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</nav>
