.card-header {
  background-color: #d8c3a5 !important;
  color: #ffffff;
}

.card-body {
  background-color: #eae7dc !important;
}

.upload-requirements-container {
  margin-top: 16px;
  font-size: 12px;
  color: #b1b1b1;
}

.upload-requirements-text {
  margin: 0;
}
